<header>
<div class="inline">
<%= image_tag("portrait.png", :alt => "portrait", :class => "portrait_dimension") %>
</div>
<div class="container text_align">
<h1>Jackson Sandland</h1>
<h2>Full Stack Web Developer and Music Producer</h2>
<%= link_to "Github  /", "https://github.com/jackson-sandland", { :class=>"text_decoration" } %>
<%= link_to "Linked-In  /", "https://linkedin.com/in/jacksonsandland/", { :class=>"text_decoration" } %>
<%= link_to "Resume", "/assets/images/Resume.pdf", { :class=>"text_decoration" } %>
</div>
</header>
<!doctype html>
<html>
<head>
  <meta name="viewport" content="width=device-width">

</head>
<body>
  <div class="container">
    <div id="slides">
    <%= image_tag("example-slide-1.jpg") %>
    <%= image_tag("example-slide-2.jpg") %>
    <%= image_tag("example-slide-3.jpg") %>
    <%= image_tag("example-slide-4.jpg") %>
    </div>
  </div>
  <div>
  <h1>Project One</h1>
  <h2> one line description</h2>
  <p>longer project description</p>
  <h2>Technologies:</h2>
  <ul>
    <li>Ruby on Rails</li>
    <li>HTML5</li>
    <li>CSS3</li>
  </ul>
  </div>
  <div>
  <h1>Project Two</h1>
  <h2> one line description</h2>
  <p>longer project description</p>
  <h2>Technologies:</h2>
  <ul>
    <li>Ruby on Rails</li>
    <li>HTML5</li>
    <li>CSS3</li>
  </ul>
  </div>
  <div>
  <h1>Project Three</h1>
  <h2> one line description</h2>
  <p>longer project description</p>
  <h2>Technologies:</h2>
  <ul>
    <li>Ruby on Rails</li>
    <li>HTML5</li>
    <li>CSS3</li>
  </ul>
  </div>
</body>
</html>
