<header>
<div class="top_border">
</div>
<div class="inline">
<%= image_tag("portrait.png", :alt => "portrait", :class => "portrait_dimension") %>
</div>
<div class="container text_align">
<h1>Jackson Sandland</h1>
<h2>Full Stack Web Developer and Music Producer</h2>
<%= link_to "Github  /", "https://github.com/jackson-sandland", { :class=>"text_decoration" } %>
<%= link_to "Linked-In  /", "https://linkedin.com/in/jacksonsandland/", { :class=>"text_decoration" } %>
<%= link_to "Resume", "/assets/images/Resume.pdf", { :class=>"text_decoration" } %>
</div>
</header>
<!doctype html>
<html>
<head>
  <meta name="viewport" content="width=device-width">

</head>
<body>
  <div class="container">
    <div id="slides">
    <%= image_tag("example-slide-1.jpg") %>
    <%= image_tag("example-slide-2.jpg") %>
    <%= image_tag("example-slide-3.jpg") %>
    <%= image_tag("example-slide-4.jpg") %>
    </div>
  </div>
  <div>
  <h1>Big Time Production</h1>
  <h2>Commercial Director Portfolio Site</h2>
  <div class="container">
    <div id="slider" class="flexslider">
      <ul class="slides">
        <li>
          <%= image_tag("slide1.jpg") %>
        </li>
        <li>
          <%= image_tag("slide2.jpg") %>
        </li>
        <li>
          <%= image_tag("slide3.jpg") %>
        </li>
        <li>
          <%= image_tag("slide4.jpg") %>
        </li>
      </ul>
  </div>
  <div id="carousel" class="flexslider">
     <ul class="slides">
        <li>
          <%= image_tag("slide1.jpg") %>
        </li>
        <li>
          <%= image_tag("slide2.jpg") %>
        </li>
        <li>
          <%= image_tag("slide3.jpg") %>
        </li>
        <li>
          <%= image_tag("slide4.jpg") %>
        </li>
      </ul>
  </div>
  <p>longer project description</p>
  <h2>Technologies:</h2>
  <ul>
    <li>Ruby on Rails</li>
    <li>HTML5</li>
    <li>CSS3</li>
  </ul>
  </div>
  <div>
  <h1>Project Two</h1>
  <h2> one line description</h2>
   <div class="container">
<div id="slider_two" class="flexslider">
  <ul class="slides">
    <li>
    <%= image_tag("slide1.jpg") %>
    </li>
    <li>
    <%= image_tag("slide2.jpg") %>
    </li>
    <li>
    <%= image_tag("slide3.jpg") %>
    </li>
    <li>
    <%= image_tag("slide4.jpg") %>
    </li>
  </ul>
</div>
<div id="carousel_two" class="flexslider">
  <ul class="slides">
    <li>
    <%= image_tag("slide1.jpg") %>
    </li>
    <li>
    <%= image_tag("slide2.jpg") %>
    </li>
    <li>
    <%= image_tag("slide3.jpg") %>
    </li>
    <li>
    <%= image_tag("slide4.jpg") %>
    </li>
  </ul>
</div>
  <p>longer project description</p>
  <h2>Technologies:</h2>
  <ul>
    <li>Ruby on Rails</li>
    <li>HTML5</li>
    <li>CSS3</li>
  </ul>
  </div>
  <div>
  <h1>Project Three</h1>
  <h2> one line description</h2>
   <div class="container">
<div id="slider_three" class="flexslider">
  <ul class="slides">
    <li>
    <%= image_tag("slide1.jpg") %>
    </li>
    <li>
    <%= image_tag("slide2.jpg") %>
    </li>
    <li>
    <%= image_tag("slide3.jpg") %>
    </li>
    <li>
    <%= image_tag("slide4.jpg") %>
    </li>
  </ul>
</div>
<div id="carousel_three" class="flexslider">
  <ul class="slides">
    <li>
    <%= image_tag("slide1.jpg") %>
    </li>
    <li>
    <%= image_tag("slide2.jpg") %>
    </li>
    <li>
    <%= image_tag("slide3.jpg") %>
    </li>
    <li>
    <%= image_tag("slide4.jpg") %>
    </li>
  </ul>
</div>
  <p>longer project description</p>
  <h2>Technologies:</h2>
  <ul>
    <li>Ruby on Rails</li>
    <li>HTML5</li>
    <li>CSS3</li>
  </ul>
  </div>
</body>
<script>
$(window).load(function() {
  // The slider being synced must be initialized first
  $('#carousel').flexslider({
    animation: "slide",
    controlNav: false,
    animationLoop: false,
    slideshow: false,
    itemWidth: 210,
    itemMargin: 5,
    asNavFor: '#slider'
  });
   
  $('#slider').flexslider({
    animation: "slide",
    controlNav: false,
    animationLoop: false,
    slideshow: false,
    sync: "#carousel"
  });

   $('#carousel_two').flexslider({
    animation: "slide",
    controlNav: false,
    animationLoop: false,
    slideshow: false,
    itemWidth: 210,
    itemMargin: 5,
    asNavFor: '#slider_two'
  });
   
  $('#slider_two').flexslider({
    animation: "slide",
    controlNav: false,
    animationLoop: false,
    slideshow: false,
    sync: "#carousel_two"
  });

   $('#carousel_three').flexslider({
    animation: "slide",
    controlNav: false,
    animationLoop: false,
    slideshow: false,
    itemWidth: 210,
    itemMargin: 5,
    asNavFor: '#slider_three'
  });
   
  $('#slider_three').flexslider({
    animation: "slide",
    controlNav: false,
    animationLoop: false,
    slideshow: false,
    sync: "#carousel_three"
  });
});


</script>
</html>
